* {
  font-family: "Playfair Display", serif;
}

body {
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
}

.vl {
  border-left: 6px solid #fbc02d;
  height: 150px;
}

.dutch-word {
  font-size: 100px;
  line-height: 90px;
  font-family: "Playfair Display", serif;
  margin-right: 25px;
  margin-left: 25px;
}

.english-word {
  font-size: 60px;
  height: 100px;
  font-family: "Playfair Display", serif;
  color: #fbc02d;
  margin-left: 25px;
}

.example,
.meta,
#id-audio {
  font-size: 20px;
  color: #a3a3a3;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  margin-left: 25px;
}

.meta {
  color: #c5c3c3;
  font-size: 15px;
}

.container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#id-example,
#id-word {
  cursor: pointer;
}

.text {
  align-items: baseline;
  border-left: 10px solid #ffd84d;
  margin-left: 50px;
}

.highlight {
  background-color: #ffd84d2e;
  font-family: "IBM Plex Sans", sans-serif;
}
